{{add-task addTask=(action "addTask")}}
<div class="ui segment">
    <div class="ui grid">
        <div class="thirteen wide column">
            <div class="ui icon input">
                {{input type="text" placeholder="Search..." value=search}}
                <i class="circular search link icon"></i>
            </div>
        </div>
        <div class="three wide column right aligned">
            <button class="ui labeled icon button green" {{action "download_logs"}}>
                <i class="download icon"></i>
                Logs
            </button>
        </div>
    </div>
</div>
{{#each tasks as |task|}}
{{task-card task=task removeTask=(action "removeTask") onClickSave=(action "saveTask")}}
{{/each}}