<div class="ui fixed  menu">
  <div class="header item">
    {{#link-to "tasks"}}Visual IQ{{/link-to}}
  </div>
  <a class="item">
    {{current-time}}
  </a>
  <div class="right menu">
    {{#if session.isAuthenticated}}
      {{#ui-dropdown class="item"}}
        {{session.currentUser.email}} <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">v1.1</a>
          <a class="item" {{action "signOut"}}>Sign out</a>
        </div>
      {{/ui-dropdown}}
      {{else}}
    <div class="item">
      <div class="ui input transparent">
        {{input type="text" placeholder="email" value=email}}
        {{input type="password" placeholder="password" value=password}}
        <button class="ui button" {{action "signIn" email password}}>Sign in</button>
        </div>
        {{error}}
    </div>
    {{/if}}
  </div>
</div>
<div class="ui main container" style="margin-top:4em">
{{#if session.isAuthenticated}}
  {{outlet}}
{{else}}

{{/if}}
</div>