{{task-card 
    task=model
    enableHeader=true
    onClickClock=(action "openpopup")
    onClickSave=(action "saveTask")
}}
<table class="ui celled striped table">
  <thead>
      <tr>
        <th>Status</th>
        <th>Description</th>
        <th>Jira ID</th>
        <th>Time</th>
        <th>User</th>
    </tr>
</thead>
  <tbody>
    {{#each model.logs as |log|}}
    <tr>
        <td>{{log.status}}</td>
        <td>{{log.description}}</td>
        <td>{{log.jira}}</td>
        <td>{{format-timestamp log.time}}</td>
        <td>{{log.by}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#if popupopen}}
    {{status-update-screen
        popupopen=popupopen
        model=model
        status=status
        onClickSave=(action "save")
    }}
{{/if}}