{{#semantic-modal header=header open=popupopen}}
    <p>
        <div class="ui message">
        <div class="header">
            Description
        </div>
        <p>{{model.description}}</p>
        </div>
    </p>
    <p> 
        <div class="ui buttons">
            <button class="ui button {{if (eq status "complete") "green"}}" {{action "setstatus" "complete"}}>Complete</button>
            <button class="ui button {{if (eq status "inprogress") "yellow"}}" {{action "setstatus" "inprogress"}}>In Progress</button>
            <button class="ui button {{if (eq status "failure") "red"}}" {{action "setstatus" "failure"}}>Failure</button>
        </div>
    </p>
    <p>
        <div class="ui form">
            <div class="fields">
                <div class="six wide field">
                    {{input type="text" placeholder="Jira/Freshdesk ID" value=jira}}
                </div>
                <div class="ten wide field">
                    {{input type="text" placeholder="Notes" value=description}}
                </div>
            </div>
        </div>
    </p>
    {{#if (not-eq  status "complete")}}
    <p>
        <label>Snooze Time</label>
        <div class="ui input">
            {{input type="number" placeholder="Hours" value=hours}}
        </div>
        <div class="ui input">
            {{input type="number" placeholder="Minutes" value=minutes}}
        </div>
    </p>
    {{/if}}
    <p  class="actions">
        <button class="ui button blue actions approve" {{action "save" status description jira hours minutes}}>Save</button>
        <button class="ui button red" {{action "clear"}}>Clear</button>
    </p>
{{/semantic-modal}}