<div class="ui segment">
    <form class="ui form">
    <div class="inline fields">
        <div class="four wide field">
            {{input value=taskname placeholder="Name"}}
        </div>
        <div class="six wide field">
            {{input type="text" value=description placeholder="Description"}}
        </div>
        <div class="four wide field">
            {{input type="number" value=hour placeholder="Hour"}}
            {{input type="number" value=minute placeholder="Minute"}}
        </div>
        <div class="two wide field">
            {{#if addTask}}
            <button class="ui blue button" {{action "add_task" taskname description hour minute}}>Add Task</button>
            {{/if}}
            {{#if saveTask}}
            <button class="ui green button" {{action "save_task" taskname description hour minute}}>Save Task</button>
            {{/if}}
        </div>
    </div>
    </form>
</div>