{{yield}}
{{#if enableHeader}}
    <div class="ui segment">
        <div class="ui grid">
            <div class="three wide column oneline"><strong>Task Name</strong></div>
            <div class="six wide column oneline"><strong>Description</strong></div>
            <div class="two wide column"><strong>Trigger Time</strong></div>
            <div class="three wide column"><strong>Next Trigger Time</strong></div>
        </div>
    </div>
{{/if}}
<div class="ui segment {{if timepassed "red"}} {{if tomorrow "green"}}">
    <div class="ui grid">
        <div class="three wide column oneline" title="{{task.name}}">{{#link-to "task" task.id}}{{task.name}}{{/link-to}}</div>
        <div class="six wide column oneline" title="{{task.description}}">{{task.description}}</div>
        <div class="two wide column">{{recurringtime}}</div>
        <div class="three wide column">{{format-timestamp task.time clock.time}}</div>
        <div class="two wide column">
            <i class="large pencil icon blue clickable" {{action "clickPencil" task.id}}></i>
        {{#if removeTask}}
            <i class="large remove circle icon red clickable" {{action "removeTask" task.id}}></i>
        {{/if}}
        {{#if onClickClock}}
            <i class="large wait icon green clickable" {{action "clickClock"}}></i>
        {{/if}}
        </div>
    </div>
</div>
{{#if edittable}}
    {{add-task 
        taskname=name 
        description=description 
        hour=hour 
        minute=minute
        saveTask=(action "saveTask")
    }}
{{/if}}